.forPageNavigator {
  color: inherit;
  background-color: inherit;
}
.forPageNavigator--dark {
  filter: brightness(0) invert(1);
}
.forPageNavigator:focus {
  border-bottom: 2px solid black;
  background-color: inherit;
}
.pageNavigator {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.pageNavigatorCentre {
  display: flex;
  flex-direction: row;
}
