.buttonLike {
  background-color: #e8e8e8;
  width: 88px;
  display: flex;
  align-items: center;
  font-size: 18px;
  gap: 10px;
  height: 56px;
  padding: 16px 32px 16px 32px;
  border: none;
  border-radius: 2px;
}
.buttonLike:hover {
  background-color: #5360cd;
}
.buttonLike:hover img {
  filter: brightness(0) invert(1);
}

.buttonLike:disabled {
  background-color: #e8e8e8;
}
.buttonLike:disabled img {
  filter: contrast(0);
}

.buttonDisLike {
  background-color: #e8e8e8;
  height: 56px;
}
.buttonDisLike:hover {
  background-color: #fd3419;
}
.buttonDisLike:hover img {
  filter: brightness(0) invert(1);
}
.buttonDisLike:disabled {
  background-color: #e8e8e8;
}
.buttonDisLike:disabled img {
  filter: contrast(0);
}
.buttonWithIcon {
  width: 241px;
  background-color: #e8e8e8;
  display: flex;
  align-items: center;
  font-size: 18px;
  gap: 10px;
  height: 56px;
  padding: 16px 32px 16px 32px;
  border: none;
  border-radius: 2px;
}
.buttonWithIcon:hover {
  background-color: #5360cd;
  color: white;
}
.buttonWithIcon:hover img {
  filter: brightness(0) invert(1);
}
.buttonWithIcon:disabled img {
  filter: contrast(0);
}
.buttonWithIcon:disabled {
  color: #8d8e97;
  background-color: #e8e8e8;
}

.secondary2 {
  color: #fd3419;
  background-color: #e5e5e5;
  display: flex;
  align-items: center;
  font-size: 18px;
  gap: 10px;
  height: 56px;
  padding: 16px 32px 16px 32px;
  border: none;
  border-radius: 2px;
}
.secondary2:hover {
  border: 1px solid #dadada;
}
.secondary2:disabled {
  color: #8d8e97;
  border: none;
}
.secondary {
  color: #313037;
  background-color: #e8e8e8;
  display: flex;
  align-items: center;
  font-size: 18px;
  gap: 10px;
  height: 56px;
  padding: 16px 32px 16px 32px;
  border: none;
  border-radius: 2px;
}
.secondary:hover {
  background-color: #dadada;
}
.secondary:disabled {
  color: #8d8e97;
}
.primary {
  color: #fff;
  background-color: #2231aa;
  display: flex;
  align-items: center;
  font-size: 18px;
  gap: 10px;
  height: 56px;
  padding: 16px 32px 16px 32px;
  border: none;
  border-radius: 2px;
}
.primary:hover {
  background-color: #5360cd;
}
.primary:disabled {
  color: #8d8e97;
  background-color: #e8e8e8;
}
