.bigCard {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 736px;

  border-bottom: 1px solid #dadada;
}

.bigContent {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.bigImg {
  width: 35%;
  height: 60%;
  margin: 0 0 142px 32px;
}
.time {
  text-align: left;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #8d8e97;
}
.bigName {
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  color: #313037;
  margin-bottom: 24px;
  text-align: left;
  margin-top: 8px;
  color: inherit;
}
.bigName:hover {
  cursor: pointer;
  color: #2231aa;
}
.bigText {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #8d8e97;
  text-align: left;
}

.mediumCard {
  display: flex;
  flex-direction: column;
  width: 352px;

  border-bottom: 1px solid #dadada;
}
.mediumContent {
  display: flex;
  flex-direction: column-reverse;
}
.mediumImg {
  width: 100%;
  height: 58%;
  margin-bottom: 24px;
}
.mediumName {
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  color: #313037;
  margin: 0;
  margin-bottom: 24px;
  text-align: left;
  margin-top: 8px;
  color: inherit;
}
.mediumName:hover {
  cursor: pointer;
  color: #2231aa;
}

.smallCard {
  display: flex;
  flex-direction: column;
  width: 352px;

  border-bottom: 1px solid #dadada;
}
.smallContent {
  display: flex;
  flex-direction: row;
}
.smallImg {
  width: 27%;
  height: 70%;
  margin: 0 0 21px 34px;
}
.smallName {
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  color: #313037;
  text-align: left;
  color: inherit;
}
.smallName:hover {
  cursor: pointer;
  color: #2231aa;
}
